.mobile-menu {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  @media (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
  }
  
  .mobile-menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .mobile-menu-button {
      display: none;
    }
  }
  